[submodule "public"]
	path = public
	url = git@github.com:egsh/elizaspeaking
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = git@github.com:egsh/hugo-minimalist-theme
